@media only screen and (min-width:1200px){
    body{
        font-size: 25px;
        font-weight:700;
    }
    .header{
  height:350px;

    }
    .navbar img{
        width: 339px;
        height: 136px;

}
.user-details {
    margin-top: 20px;
    margin-right: 569px;
}
.user-details button {
    margin-right: 372px;
    margin-top: -51px
}

}
@media only screen and (max-width:1023px){

    .info-img h1{
        font-size: 36px;
    }
    .info-img .seperator img {
        margin-right:-86px
    }
    .user-details{
        margin-right:5px;
        margin-top: 17px;
        line-height: inherit;
    }
    .user-details p{
        font-size: 16px;
    }
    .user-details button {
        margin-right: 764px;
        margin-top: -174px;
        height: 35px;
        width: 72px;
        padding-top: 3px;
    
}
 .timestamp{
     margin-top: -72px;
 }
}
@media only screen and (max-width:768px){

}

@media only screen and (max-width:574px){
    html{
        width: 100%;
    }
    .announcement{
        display: block;
    }
    body{
        width: 100%;
        overflow-x:hidden;
    }
    .announcement .card {
        
        top: -32px;
        
    }
    .username{
        margin-right: 10px;
    }
}
