@media (prefers-color-scheme: dark){
    body{
        background-color: rgb(82, 82, 82);
        
    }
}


@media only screen and (max-width:1200px){
    body{
        font-size: 25px;
        font-weight:700;
    }
    .header{
  height:350px;

    }
    .navbar img{
        width: 339px;
        height: 136px;

}
.user-details {
    margin-top: 20px;
    margin-right: 569px;
}
.user-details button {
    margin-right: 372px;
}

}
@media only screen and (max-width:1024px){

    .info-img h1{
        font-size: 36px;
    }
    .info-img .seperator img {
        margin-right:-86px
    }
    .user-details{
        margin-right:5px;
        margin-top: 17px;
        line-height: inherit;
    }
    .user-details p{
        font-size: 16px;
    }

    ul li .log-out {
    left: -54px;
     
}
    .user-details {
        text-align: right;
        /* margin-top: 20px; */
        font-weight: 300;
        margin-right: 442px;
        line-height: inherit;
        color: #0b5438;
        position: absolute;
        right: 7px;
    }
    
}
 .timestamp{
     margin-top: -72px;
 }
 
}
@media only screen and (max-width:768px){
    .info-img img {
        width: 52px; 
    }
    .info-img .seperator img {
        margin-right: -166px;
    }
    .user-details {
        line-height: none;
        margin-top: 58px;
    }
    .user-details span , .timestamp{
       font-size: 16px; 
       position: absolute;
    left: 20px;
    /* top: 68px; */
    margin-top: 10p;
    text-align: right;
       
    }
   
    .user-details button span{
        font-size: 12px;
        padding-right: 3px;
    }
    .sys-nav.navbar-nav{
        background-color: white;
        width:100%;
    }
    .navbar {
        color: white !important;
        z-index: 1;
    }
    .navbar-nav{
        background-color: white;
    }
    .announcement{
        display: flow-root !important;
    }
}

@media only screen and (max-width:574px){
    html{
        width: 100%;
    }
    .announcement{
        display: block;
    }
    body{
        width: 100%;
        overflow-x:hidden;
    }
    .announcement .card {
        
        top: -32px;
        
    }
    .username{
        margin-right: 10px;
    }
    .card-c {
        margin-right: 34px;
    }
    .info-img h1 {
        float: right;
        padding: 25px;
        color: #0b5438;
        /* padding-left: 139px; */
        /* margin-right: -22px; */
        position: absolute;
        right: 37px;
        font-size: 31px;
    }
    .list {
        margin-right: 0px;
    }
    .flex-wrapper{
        display: flow-root;
    }
    
}
